* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}
